BOT_TOKEN=your_bot_token_here
REDIS_URL=redis://redis:6379
SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET
UPLOAD_CHANNEL_ID=-100xxxx
ADMIN_IDS=xxxxxx
DEEZER_ARL=your_deezer_arl_cookie_here
